.container-new-member {
  border: 1px solid black;
  padding: 0 2rem 2rem 2rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input[type="submit"] {
  margin-top: 1px;
}

form {
  text-align: center;
}

form input[type="submit"] {
  display: inline-block;
}

h2 {
  text-align: center;
}

.block {
  display: block;
}

form {
  display:inline; 
  margin:0px;
  padding:0px;
}

/*.delete-button {*/
/*  padding:5px 15px; */
/*  font-size: 14px;*/
/*  border:none;*/
/*  background: rgb(255, 0, 0);*/
/*  color: transparent;*/
/*  width: 30px;*/
/*  height:auto;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px; */
/*}*/

/*.pay-button {*/
/*  padding:5px 15px; */
/*  font-size: 14px;*/
/*  border:none;*/
/*  background: rgb(0, 255, 26);*/
/*  color: transparent;*/
/*  width: 30px;*/
/*  height:auto;*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*  -webkit-border-radius: 5px;*/
/*  -moz-border-radius: 5px;*/
/*  border-radius: 5px; */
/*}*/

.delete-button,
.pay-button {
  padding:5px 15px;
  font-size: 14px;
  border: none;
  width: auto;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button {
  color: white !important;
  background: #ff0000;
}

.pay-button {
  color: black !important;
  background: #00ff1a;
}

.delete-button:hover {
  background-color: #9c2727;
}

.pay-button:hover {
  background: #044c0e;
}