.container-items {
  padding: 1rem;
  height: 60vh;
  width: 45vw;
  overflow: auto;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pay-button {
  padding:5px 15px; 
  font-size: 14px;
  overflow:hidden;
  border:none;
  background: rgb(6, 116, 17);
  color: white;
  height:auto;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

.input-number {
  width: 40px;
}

.description {
  font-size: 12px;
  color: darkslategray;
}

.pay-button:hover {
  background: rgb(4, 76, 14);
  color: transparent;
}